# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# Проверяем на наличие аномалий Series: data['children'] 
#print(data['children'].value_counts())
# Суммарно категории с 3-я, 4-я и 5-ю детьми сильно уступают в количестве другим единичным категориям, поэтому:

# Сегментируем строки на 3 группы по количеству детей(создав функцию): бездетные, малодетные, многодетные
def child_count_category(count_children):
    try:
        if count_children == 0:
            return 'бездетный'
        elif 1 <= count_children < 3:
            return 'малодетный'
        elif count_children >= 3:
            return 'многодетный'
    except:
        return 'неизвестно'
# Создаём столбец с сегментами, зависящие от количества детей
data['child_count_category'] = data['children'].apply(child_count_category)

data.pivot_table(index='child_count_category', values='debt', aggfunc=['count', 'sum', 'mean']).sort_values(by=('mean', 'debt'))

                      count   sum      mean
                       debt  debt      debt
child_count_category
бездетный             14091  1063  0.075438
многодетный             380    31  0.081579
малодетный             6860   638  0.093003

**Вывод:**  
  В рамках данной выбоки(дата-фрейма) нельзя утверждать что большее количество детей негативно сказывается на выплате долга в срок и обратное, так как найденные коэффиценты не могут продемонстрировать градационную зависимость. Бездетные клиенты реже других сегментов не выплачивают долг в срок, возможно ввиду относительно небольшой группы неожиданных трат. Малодетные клиенты лидируют по числу не выплаченных в срок долгов, вероятно из-за небольшого опыта планирования бюджета с детьми. Многодетные клиенты чаще малодетных возвращают долг в срок, возможно из-за понимания возникновения нежданных трат.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
shares_debt_fs = []
for i in data['family_status'].unique():
    share_debt_fs = data[(data['family_status'] == i) & (data['debt'] == 1)]['debt'].count() \
    / data[data['family_status'] == i]['debt'].count()
    shares_debt_fs.append(share_debt_fs)
for_df_share_fs = {'family_status':data['family_status'].unique(), 'share_debt':shares_debt_fs}
df_share_fs = pd.DataFrame(for_df_share_fs).sort_values('share_debt').reset_index(drop=True)
df_share_fs
# Можно было вывести результат в виде сводной таблицы, но хотелось бы добавить ещё столбцы для полноты исследования,
# а из сводной таблицы нельзя извлекать данные(подробнее в следующем цикле)

           family_status  share_debt
0         вдовец / вдова    0.066246
1              в разводе    0.070648
2        женат / замужем    0.075606
3       гражданский брак    0.093130
4  Не женат / не замужем    0.097639

**Вывод:** Категория "вдова/вдовец" чаще всех остальных категорий погашает долги в срок, за ней идёт категория 
"в разводе", далее "женат/замужем", "гражданский брак", затем "не женат/не замужем". Клиенты которые состоят в официальном браке в среднем лучше выплачивают кредиты в срок относительно категории "гражданский брак". Риск неуплаты для каждой категории выявлен, а значит наиболее приоритетные семейные статусы для банка найдены. Но могу предположить что категории "вдова/вдовец" и "в разводе" в большинстве случаев клиенты значительного возраста, имеющие весомый опыт в понимании своих финансовых возможностей, далее следует категория "женат/замужем"(которая по идее тоже должна состоять из зрелых личностей) и т.д. Это наводит на мысль о том, что наше размещение категорий коррелирует с возрастом клиентов. А точно ли данное предположение верно? Эта гипотеза  проверена(в строке ниже) и возможно полезна для данного исследования(медианный возраст устойчив к выбросам, но для большей наглядности средний возраст также посчитан).

In [24]:
median_list, mean_list = [], []

for j in df_share_fs['family_status']:
# Если бы df_share_fs был бы сводной таблицей, то 'family_status' был бы неопределён(проверено)    
    median_list.append(data[data['family_status'] == j]['dob_years'].median())
    mean_list.append(data[data['family_status'] == j]['dob_years'].mean())
df_share_fs['median_age'], df_share_fs['average_age'] = median_list, mean_list

df_share_fs

           family_status  share_debt  median_age  average_age
0         вдовец / вдова    0.066246        58.0    56.501577
1              в разводе    0.070648        46.0    45.561817
2        женат / замужем    0.075606        43.0    43.558519
3       гражданский брак    0.093130        41.0    42.067731
4  Не женат / не замужем    0.097639        36.0    38.368026

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [25]:
#print(data['total_income_category'].value_counts())
# Сравниваем клиентов только с категорией дохода B и C, так как данных других категорий слишком мало для исследования

# Разброс заработных плат велик, поэтому будем использовать категоризированный уровень дохода(data['total_income_category']

# Функция конвертирующая сегмент дохода в промежуток дохода, необходимая для более наглядного представления 
def revers_total_income_category(category):
    try:
        if category == 'A':
            return 'Очень высокий(10000001 - ?)'
        elif category == 'B':
            return 'Высокий(200001 - 1000000)'
        elif category == 'C':
            return 'Выше среднего(50001 - 200001)'
        elif category == 'D':
            return 'Средний(30001 - 50001)'
        elif category == 'E':
            return 'Отсутсвующий или низкий(0 - 30000)'
    except:
        return 'Неизвестный(?)'

# Создаём новую колонку в дата-фрейме для последующего более наглядного представления данных
data['income_diaposon'] = data['total_income_category'].apply(revers_total_income_category)

# Выбираем только значимые категории из всего дата-фрейма(B, C)
target_category = data[(data['total_income_category'] == 'B') | (data['total_income_category'] == 'C')]

# Строим отсортированную сводную таблицу для интерпритации выводов
target_category.pivot_table(index='income_diaposon', values='debt', aggfunc=['count', 'sum', 'mean'])\
.sort_values(('mean', 'debt'))

                               count   sum      mean
                                debt  debt      debt
income_diaposon
Высокий(200001 - 1000000)       5014   354  0.070602
Выше среднего(50001 - 200001)  15921  1353  0.084982

**Вывод:** Для большинства категорий дохода оказалось слишком мало данных для проведения исследования. Наиболее пригодными для анализа выборками оказались: "Высокий" и "Выше среднего". В результате удалось выяснить что в среднем клиенты с высоким уровнем дохода лучше справляются с выплатой кредита в срок ежели клиенты с доходом выше среднего.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [26]:
share_debt_purpose = data.pivot_table(index='purpose_category', values='debt', aggfunc='mean')
share_debt_purpose.sort_values('debt')

                              debt
purpose_category
операции с недвижимостью  0.072551
проведение свадьбы        0.079118
получение образования     0.092528
операции с автомобилем    0.093480

**Вывод:** Относительно выплатам долга в срок самой стабильной целью является: операции с недвижимостью, самой нестабильной - операции с автомобилем.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 
- пользователь мог не вводить информацию(если это не обязательно);
- при обработке данных предыдущее значение могло не подойти под критерии(функции или цикла);
- умышленные(допустимые) пропуски;
- проблемы с выгрузкой из базы данных;
- повреждённый читаемый файл.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

**Ответ:** *Заполнить пропуски медианным значением — лучшее решение для количественных переменных, потому что:*
- медианное значение устойчиво к аномалиям(выбросам) в отличии от среднего арифметического;
- медианное значение более точно отражает центральную тенденцую в данных;
- относительная простота вычисления.

### Шаг 4: общий вывод.

В данном исследовании были найдены различные зависимости для осуществления наиболее эффективной деятельности организации.
Расположение этих зависимостей по степени приоритета может быть осуществлено различными путями и каждый из вариантов будет основан на цифрах, визуализации и т.д(у каждого варианта есть риски совершить ошибку)., поэтому нельзя точно утверждать какой их них самый лучший на данный момент. Независимо от варианта приоритезации самый безопасный и наиболее рискованный для организации сегмент клиентов не меняется. В итоге получаем:
1. Самый безопасный для выдачи кредита портрет клиента: бездетная семья, вдовец / вдова, высокий доход, с категорией цели: операции с недвижимостью.
2. Самый рискованный для выдачи кредита портрет клиента: малодетная семья, не женат / не замужем, с доходом выше среднего, категория цели: операции с автомобилем.